{% extends 'students/dashboard.html' %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">File</th>
      </tr>
    </thead>
    <tbody >
      <tr class="table-warning">
        <td>{{homework.id}}</td>
        <td>{{homework.lesson.title}}</td>
        <td>{{homework.description}}</td>
        <td>{{homework.homework_file}}</td>
      </tr>
    </tbody>
  </table>

{% endblock content %}