{% extends 'teachers/teacher_dashboard.html' %}

{% block content %}

<div>
  <thead>
    <tr style="padding: 2px;">

        &nbsp;&nbsp;<a href="#">
            <th scope="col"><b>Yo'qlamalar</b></th>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">
            <th scope="col"><b>Videolar</b></th>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">
            <th scope="col"><b>Uy vazifalar</b></th>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">
            <th scope="col"><b>Imtixonlar</b></th>
        </a>
    </tr>
</thead>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Homework status</th>
      </tr>
    </thead>
    <tbody >
        {% for lesson in lessons %}
      <tr class="table-warning">
        <td>{{lesson.title}}</td>
        <td>{{lesson.date}}</td>
        <td>Active</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}